<ul class="pagination m-auto mx-4">
  <!-- make prev disabled when index = 1 and next disabled when index = length -->
  <li class="page-item btn " style="background-color: #2c3344;"> <a href="page-link" class="text-white">Prev</a></li>
  <li class="page-item btn"> <a href="page-link">1</a></li>
  <li class="page-item btn active"> <a href="page-link">2</a></li>
  <li class="page-item btn"> <a href="page-link">3</a></li>
  <li class="page-item btn" style="background-color: #2c3344;"> <a href="page-link" class="text-white">Next</a></li>
</ul>
