.btn
{
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
  padding: 2% 5%;
  outline: none;
}
.page-item
{
  border: 1px solid gainsboro;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
  padding: 2% 5%;
  outline: none;
}

.active
{
  background-color: #2c3344;
}
.active button
{
  color: white;
}
