<div class="container ">

    <div class="container d-flex justify-content-center ">

        <div class="card text-center bg-white border-0" style="margin-top: 15%;height: 50vh; ">
            <div class="card-body text-dark">
            <div class="img-area">
              <img src="../../../../assets/download.jfif"
              
              alt="project1" class="img-fluid" style="width:100%; height: 38vh;border-radius: 50px;">
            </div>
            <h3 class="text-center m-4">{{author.firstName}} {{ author.lastName}}</h3>
                <h3 class="text-center">{{author.dateOfBirth}}</h3>
           </div>
          </div>
    
    </div>
    
    <div class="m-5 " style="width: 15rem; height: 5rem; border-radius:50% ; background-color: #ED553B;">
       <h2 class="text-center pt-3">book</h2>
    </div>
    <div class="col-12 col-md-12 col-lg-4 mt-5"
        *ngFor="let book of author.books; index as i; "[attr.data-index]="i">
        <p>{{book |json}}</p>
        <app-book-card [book]="book"></app-book-card>
    </div>
   
</div>
