<div class="container ">

    <div class="container d-flex justify-content-center ">

        <div class="card text-center bg-white " style="margin-top: 15%;height: 50vh; ">
            <div class="card-body text-dark">
            <div class="img-area">
              <img src="../../../../assets/author.jpeg"
              
              alt="project1" class="img-fluid" style="width:100%; height: 38vh;">
            </div>
            <h3 class="text-center">{{author[0].firstName}} {{ author[0].lastName}}</h3>
                <h3 class="text-center">{{author[0].dateOfBirth}}</h3>
           </div>
          </div>
    
    </div>
    
    <div class="m-5 " style="width: 15rem; height: 5rem; border-radius:50% ; background-color: #ED553B;">
       <h2 class="text-center pt-3">book</h2>
    </div>

</div>
<!-- <section>
    <div class="container">
        <div class="row">
            <div>
                <img >
            </div>
        </div>
    </div>
</section> -->
