
<!-- ///////////////////////////////////////////////////// -->


<div class="container-fluid pb-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-30">
      <div id="" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-light">
          <div class="carousel-item active">
            <img
              class="w-100 h-100"
              src="http://localhost:5000/{{book?.img}}"
              alt="Image"
            />

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7 h-auto mb-30">
      <div class="h-100 bg-light p-30">
        <h3>Book Name: "{{ book?.name }}"</h3>
        <h3>
          Author: "{{ book?.author.firstName }} {{ book?.author.lastName }}"
        </h3>
        <h3>Category: "{{ book?.category.name }}"</h3>
        <h5 class="font-weight-semi-bold mb-4">
          Average rate: :
          <span class="text-success">{{
            book?.avg_rate | number : "1.0-0"
          }}</span>
        </h5>
        <h3>Description</h3>
        <p class="mb-4">{{ book?.summary }}</p>
        <h5 class="font-weight-semi-bold mb-4">
          rating:
          <span class="text-success"> {{ book?.bookUser.rating }}</span>
        </h5>
        <div class="fs-1" (click)="addRating()">
          rating:
          <span *ngFor="let star of [1, 2, 3, 4, 5]" (click)="getRating(star)">
            <i
              class="fa fa-star fs-3"
              [ngClass]="{ active: star <= rating }"
            ></i>
          </span>
          <div class="fs-1">
            Status:
            <select
              class="select btn btn-secondary dropdown-toggle"
              type="button"
              value="{{book?.bookUser.status}}"
              (click)="add($event)"
            >
              <option value="Read">Read</option>
              <option value="Reading">Reading</option>
              <option value="wantToRead">Want To Read</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-xl-5">
    <div class="col">
      <div class="bg-light p-30">
        <div class="mb-4">
          <h3 class="text-dark">Reviews for "{{ book?.name }}"</h3>
          <div class="row">
            <div class="col-md-6">
              <h4 class="mb-4">
                review for author name "{{ book?.author?.firstName }}
                {{ book?.author?.lastName }}"
              </h4>
              <div class="media mb-4" *ngFor="let review of book?.reviews">
                <p>{{ review| json}}</p>
                <img
                  src="http://localhost:5000/{{ review?.user.img }}"
                  alt="Image"
                  class="img-fluid mr-3 mt-1"
                  style="width: 45px"/>
                <div class="media-body">
                  <h6 class="fw-bold text-capitalize">
                    user name:{{ review?.user.first_name}} {{ review?.user.last_name
                    }}<small> </small>
                  </h6>
                  <div >

                    <p>{{ review?.comment }}</p>
                    <p>{{ review?.date }}</p>

                    <div class="fs-1">
                      like:
                      <select
                        class="select btn btn-secondary dropdown-toggle"
                        type="button"
                        value="{{ review?.changeLike.like }}"
                        (click)="setLikeToReview($event, review)"
                      >
                        <option value="true">like</option>
                        <option value="false">dislike</option>
                      </select>
                    </div>



                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="mb-4">Leave a review</h4>

              <form
                [formGroup]="reviewForm"
                (ngSubmit)="setReview()"
                novalidate
                class="form-group"
              >
                <div class="form-group">
                  <label for="message">Your Review *</label>
                  <textarea
                    formControlName="description"
                    id="message"
                    cols="30"
                    rows="5"
                    class="form-control"
                  ></textarea>
                </div>

                <div class="form-group mb-0">
                  <input
                    type="submit"
                    value="Leave Your Review"
                    class="btn bg-primary text-white px-3"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

