

<!-- <app-book-card [book]="book"></app-book-card> -->

<p>{{book | json}}</p>
<!-- <div *ngFor="let  of book"> -->

<div class="container ">
  <div class=" row row-cols-1 row-cols-md-3 g-3 p-5 d-flex justify-content-evenly">
    <div class="col-4 " >
      <div class=" card text-center" >
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"  class="card-img-top"
          alt="Hollywood Sign on The Hill" />
        <div class="card-body">
          <h1 class="card-title">{{book[0].name}}</h1>
          <h1 class="card-title">Author: {{book[0].author.firstName}} {{book[0].author.lastName}}</h1>
          <h1 class="card-title">Category: {{book[0].category.name}}</h1>
          <!-- <h1 class="card-title">rating: {{book[0].bookUser.rating}}</h1> -->



          <p class="card-text">
          <b>Summary:</b>{{book[0].summary}}
          </p>
          <p><b>Average rate: </b>{{book[0].avg_rate | number: '1.0-0'}}</p>
          <div>
            <div class="fs-1 p-5 ">
              rating:
              <span *ngFor="let star of [1, 2, 3, 4, 5]" (click)="setRating(star)">
                <i class="fa fa-star fs-3" [ngClass]="{'active': star <= rating }"></i>
              </span>
            </div>
          </div>
            <div>
              <select class="select btn btn-secondary dropdown-toggle"type="button"value="{{book[0].bookUser.status}}">
                <option value="Read">Read</option>
                <option value="Reading">Reading</option>
                <option value="wantToRead">Want To Read</option>
              </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



 <!-- ///////////////////////////////////////////////////// -->

<!-- Shop Detail Start -->
<!-- <div class="container-fluid pb-5">
  <div class="row px-xl-5">
      <div class="col-lg-5 mb-30">
          <div id="" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner bg-light">
                  <div class="carousel-item active">
                      <img class="w-100 h-100" src="{{providerObject.users?.image}}" alt="Image">
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-7 h-auto mb-30">
          <div class="h-100 bg-light p-30">
              <h3>{{ providerObject.users?.name }}</h3>
              <div class="d-flex mb-3">
                  <ngb-rating class="fs-5 text-warning" [rate]="providerObject.rate" [readonly] = true [max]="5"></ngb-rating>
                  <small class="pt-1">({{reviews.length}} Reviews)</small>
              </div>
              <h5 class="font-weight-semi-bold mb-4">Price In Hour : <span class="text-success">${{ providerObject.price }}</span></h5>
              <h3>Description</h3>
              <p class="mb-4">{{ providerObject.description }}</p>


              <div class="row py-5">
                  <h4 class="text-capitalize fw-bold">To Order Provider :</h4>
                  <form [formGroup]="orderForm" (ngSubmit)="createBooking()" novalidate class="form-group" >
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="form-label">The number of hours</label>
                                  <input min="1" oninput="this.value = Math.abs(this.value) === 0 ? 1: Math.abs(this.value) " type="number" formControlName="hours" class="form-control  border-0 text-center" min="1" value="1">
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label class="form-label"> About the work required </label>
                                  <textarea class="form-control w-100" id="description" name="description" formControlName="description" placeholder="Details"></textarea>
                                  <span class="text-danger" role="alert"
                                      *ngIf="(orderFormControl['description'].touched || orderFormControl['description'].invalid && submitted) && orderFormControl['description'].errors?.['required']">
                                    your description is required
                                  </span>
                              </div>
                          </div>
                      </div>

                  </form>




              </div>





          </div>
      </div>
  </div>
  <div class="row px-xl-5">
      <div class="col">
          <div class="bg-light p-30">
              <div class="mb-4">
                  <h3 class="text-dark">Reviews ({{reviews}})</h3>

                  <div class="row">
                      <div class="col-md-6">
                          <h4 class="mb-4">{{reviews}} review for "{{ book.author.firstName }}"</h4>
                          <div class="media mb-4" *ngFor="let review of reviews">
                              <img src="{{review['user']['image']}}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                              <div class="media-body">
                                  <h6 class="fw-bold text-capitalize">{{review['user']['name']}}<small> - <i>{{review['created_at'] | date :'medium'}}</i></small></h6>
                                  <ngb-rating class="fs-2 text-warning" [rate]="review['rate']" [readonly] = true [max]="5"></ngb-rating>
                                  <p>{{review['description']}}</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <h4 class="mb-4">Leave a review</h4>
                          <small>Your email address will not be published. Required fields are marked *</small>
                          <div class="d-flex my-3">
                              <ngb-rating class="fs-2 text-warning"="5"></ngb-rating>
                              <hr>
                              <pre class="fs-4 mx-3 mt-2">Rate: <b>{{currentRate}}</b></pre>
                          </div>
                        <form  [formGroup]="rateForm" (ngSubmit)="setRate()" novalidate  class="form-group">
                              <div class="form-group">
                                  <label for="message">Your Review *</label>
                                  <textarea formControlName="description" id="message" cols="30" rows="5" class="form-control"></textarea>
                              </div>
                              <div class="form-group mb-0">
                                  <input type="submit" value="Leave Your Review" class="btn bg-primary text-white px-3">
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!-- Shop Detail End -->



