<div class="container-fluid mt-3">

  <div class="row total">
    <div class="col-lg-4 col-12 mb-3 mt-3">
      <div class="card overflow-hidden sales-card bg-primary bg-gradient pt-3">
        <div class="px-3 pt-2 pb-5 row">
          <div class="col-8">
            <h5>Total Authors</h5>
          </div>
         <div class="col-4">

          <p> <i class="fas fa-arrow-circle-up text-white"></i> 99</p>
         </div>

        </div>

        <span id="line1">
          <canvas width="297" height="30"></canvas>
        </span>
      </div>

    </div>



    <div class="col-lg-4 col-12 mb-3 mt-3">
      <div class="card overflow-hidden sales-card bg-danger bg-gradient">
        <div class="px-3 pt-3  pb-2 pt-0">
          <h5>Total Book</h5>
          <p class="pt-2">10</p>
        </div>

        <span id="line1">
          <canvas width="297" height="30" >
          </canvas>
        </span>

      </div>
    </div>


    <div class="col-lg-4 col-12 mb-3 mt-3">
      <div class="card overflow-hidden sales-card bg-success bg-gradient pt-4">
        <div class="px-3 pt-4 pb-4 row">
          <div class="col-8">
            <h5>Total Users</h5>
          </div>
         <div class="col-4">

          <p> <i class="fas fa-arrow-circle-up text-white"></i> 1000</p>
         </div>

        </div>

        <span id="line1">
          <canvas width="297" height="30"></canvas>
        </span>
      </div>

    </div>
  </div>



  <div class="row mt-3 p-author">
    <div class="col-5">
      <div class="card">
        <h5>popular author</h5>

        <div class="row pt-4">
          <div class="col-7 row">
            <div class="col-4">
              <img src="../../../assets/author.jpeg" alt="">
            </div>
            <div class="col-7">
              <h6>user name</h6>
              <p>33 books</p>
            </div>
          </div>
          <div class="col-5">
            <p>30%</p>
          </div>
        </div>

        <hr>
        <div class="row pt-3">
          <div class="col-7 row">
            <div class="col-4">
              <img src="../../../assets/author.jpeg" alt="">
            </div>
            <div class="col-7">
              <h6>user name</h6>
              <p>33 books</p>
            </div>
          </div>
          <div class="col-5">
            <p>30%</p>
          </div>
        </div>

      </div>
    </div>

  </div>


</div>
