
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>




<!-- first section -->
<section>
  <div class="container">
    <div class="first_section">
      <div style="width: 50%; margin-left: 5%">
        <h2 class="title">READS</h2>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
          laudantium delectus minus est placeat praesentium sunt nesciunt quidem
          quaerat voluptas vitae accusantium voluptatem provident, esse quas
          aliquam distinctio iure laboriosam.
        </p>
      </div>

      <div class="img1">
        <img  src="../../../../assets/first.png" alt="">
      </div>
    </div>
  </div>
</section>


<!-- /////////////// popular Book -->
<section>
  <div class="container">
    <div class="row d-flex">
      <h2
        style="
          color: #ed553b;
          margin-top: 5%;
          text-align: center;
          margin-bottom: 5%;
        "
      >
        Our top books 
      </h2>
      <div
        *ngFor="let book of popularBook"
        class="card col-3"
        style="width: 16rem; height: 23rem; margin-left: 5%"
      >
        <img
          [routerLink]="['/book/', book._id]"
          src="http://localhost:5000/{{ book?.img }}"
          class="card-img-top h-75"
        />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              color: #3c3484;
              font-size: 160%;
              text-align: center;
              margin-left: 5%;
              font-weight: bold;
            "
          >
            {{ book.name }}
          </h5>
          <div class="avgContainer">
            <p
              class="card-text fs-5 d-flex justify-content-center align-items-center"
            >
              <span *ngFor="let star of [1, 2, 3, 4, 5]">
                <i
                  class="stars fa fa-star fs-3"
                  [ngClass]="{ active: star <= book?.avg_rate }"
                ></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- popular authors -->

<section class="popularAuthor">
  <div class="container">
    <div class="row">
      <h2 style="color: #ed553b; margin-top: 5%; text-align: center">
        Our top Authors 
      </h2>


      <div
        *ngFor="let Author of popularAuthor?.respopularAuthors"
        class="m-3"
        style="width: 18rem; height: 23rem"
      >
        <div *ngFor="let Author of Author?._id">
          <div class="authorPhoto">
            <img
              [routerLink]="['/author/', Author?.ID]"
              src="http://localhost:5000/{{ Author?.photo }}"
              class="card-img-top h-75"
            />
          </div>
          <div class="card-body">
            <h5
              class="card-title"
              style="
                color: black;
                font-size: 160%;
                text-align: center;
                margin-left: 5%;
                margin-top: 8%;
              "
            >
              {{ Author?.firstName }}
              {{ Author?.lastName }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- popular categories -->
<section>
  <div class="container">
    <div class="row">
      <h2 style="color: #ed553b; margin-top: 5%; text-align: center">
        Our top categories 
      </h2>
      <div *ngFor="let category of popularCategory"  class="mb-5 col-3 ">
        <div *ngFor="let pCategory of category?.category"  style="width: 18rem; height: 20rem">
          <div class="card pCategoryCard w-100 h-100" >
            <img src="http://localhost:5000/{{ pCategory?.img}}" alt=""  class="card-img-top h-100 " style="opacity: 0.6;" [routerLink]="['/category/', pCategory._id]">
          <h1 class="card-title titleCategory"
          style="
            color:#ed553b;
            font-size: 220%;
            text-align: center;
            margin-left: 5%;
            margin-top: 8%;
            font-weight: bold;
          ">
            {{ pCategory?.name }}
          </h1>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

