.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.fa {
  font-size: 24px;
  color: gray;
  cursor: pointer;
}
.fa.active {
  color: gold;
}
.buttons{
  width: 7%;
  height: 10vh;
  border-radius: 50px;
  background-color: #ED553B;
  color: #E1D5D3;
  justify-content: center;
  text-align: center;
  padding-top: 18px;
  margin-right: 20px;
  transition: all 0.7s ease;
  box-shadow: 5px 5px 10px #9b9999,-5px -5px 10px #9b9999;
  font-weight: bold;
}

.buttons:hover{
  box-shadow: 8px 8px 10px #333,-5px -5px 10px #333;
  transform: scale(1.05);
  cursor: pointer;
}