


    <div class=" card text-center" >
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" [routerLink]="['/book/', book._id]" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h1 class="card-title">{{book.book.name}}</h1>
        <p class="card-text fs-3">
          Author: <span class="text-danger">{{book?.book.author.firstName}} {{book?.book.author.lastName}}</span>
        </p>
        <!-- <p class="card-text fs-3">
          Category: <span class="text-danger">{{book?.book.category.name}}</span>
        </p> -->


        <p class="card-text fs-3">
          Average rate: <span class="text-danger">{{book?.book.avg_rate}}</span>
        </p>
        <p class="card-text fs-3">
          Status: <span class="text-danger">{{book?.status}}</span>
        </p>
        <p class="card-text fs-3">
          Summary: <span class="text-danger">{{book?.book.summary}}</span>
        </p>

        <div>
          <div class="fs-1 p-5 ">
            rating:
            <span *ngFor="let star of [1, 2, 3, 4, 5]" (click)="setRating(star)">
              <i class="fa fa-star fs-3" [ngClass]="{'active': star <= rating}"></i>
            </span>
          </div></div>
          <div>
          <select class="select btn btn-secondary dropdown-toggle"type="button"value="{{book?.status}}">
            <option value="Read">Read</option>
            <option value="Reading">Reading</option>
            <option value="wantToRead">Want To Read</option>
          </select>
        </div>
      </div>
    </div>


