   <!-- team Section -->
   <section id="team" class="team section-padding mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Team Of The Project</h2>
            <p>These are the heads of the company. 
              You can learn more about them through the links to social networking sites, and you can communicate as well.</p>
          </div>
        </div>
      </div>
      <div class="row mb-5 d-flex justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 mb-5">
          <div class="card text-center">
            <div class="card-body">
              <img src="" class="img-fluid rounded-circle" alt="22" width="133vw">
              <h3 class="card-title py-2">member of team</h3>
              <p class="card-text">
                The CEO of the company and the person in charge of all administrative work.
              </p>
              <p class="socials">
                <i class="fa-brands fa-twitter text-dark mx-1"></i>
                <i class="fa-brands fa-facebook text-dark mx-1"></i>
                <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                <i class="fa-brands fa-instagram text-dark mx-1"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
              <div class="card-body">
                <img src="" class="img-fluid rounded-circle" alt="22" width="133vw">
                <h3 class="card-title py-2">member of team</h3>
                <p class="card-text">
                  The CEO of the company and the person in charge of all administrative work.
                </p>
                <p class="socials">
                  <i class="fa-brands fa-twitter text-dark mx-1"></i>
                  <i class="fa-brands fa-facebook text-dark mx-1"></i>
                  <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                  <i class="fa-brands fa-instagram text-dark mx-1"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
              <div class="card-body">
                <img src="" class="img-fluid rounded-circle" alt="22" width="133vw">
                <h3 class="card-title py-2">member of team</h3>
                <p class="card-text">
                  The CEO of the company and the person in charge of all administrative work.
                </p>
                <p class="socials">
                  <i class="fa-brands fa-twitter text-dark mx-1"></i>
                  <i class="fa-brands fa-facebook text-dark mx-1"></i>
                  <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                  <i class="fa-brands fa-instagram text-dark mx-1"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
              <div class="card-body">
                <img src="" class="img-fluid rounded-circle" alt="22" width="133vw">
                <h3 class="card-title py-2">member of team</h3>
                <p class="card-text">
                  The CEO of the company and the person in charge of all administrative work.
                </p>
                <p class="socials">
                  <i class="fa-brands fa-twitter text-dark mx-1"></i>
                  <i class="fa-brands fa-facebook text-dark mx-1"></i>
                  <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                  <i class="fa-brands fa-instagram text-dark mx-1"></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card text-center">
              <div class="card-body">
                <img src="" class="img-fluid rounded-circle" alt="22" width="133vw">
                <h3 class="card-title py-2">member of team</h3>
                <p class="card-text">
                  The CEO of the company and the person in charge of all administrative work.
                </p>
                <p class="socials">
                  <i class="fa-brands fa-twitter text-dark mx-1"></i>
                  <i class="fa-brands fa-facebook text-dark mx-1"></i>
                  <i class="fa-brands fa-linkedin text-dark mx-1"></i>
                  <i class="fa-brands fa-instagram text-dark mx-1"></i>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Contact Us</h2>
            <p>You can say your opinion so that we can provide all the needs of our customers through your e-mail.</p>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12 p-0 pt-4 pb-4">
          <form action="#" class="bg-light p-4.m-auto">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="text" class="form-control" required placeholder="Your Full Name">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="email" class="form-control" required placeholder="Your Email Here">
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <textarea rows="3" required class="form-control" placeholder="Your Query Here"></textarea>
                </div>
              </div>
              <button class="btn btn-warning btn-lg btn-block mt-3">Send Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
