
<footer class="text-center text-lg-start ">
  <!-- Copyright -->

  <div class="text-center p-3" style="background-color: #e1d5d3;">
    <div class="d-flex">
      <div class="w-25" style="margin-left: 5%;">
        <a class="navbar-brand" href="#"
          ><img src="../../../../assets/logo.png" alt=""
        /></a>
      </div>
      <div class="footer2 w-25">
        <h1 style="color: #ed553b">LATEST NEWS</h1>
        <h5>HOME</h5>
        <h5>About us</h5>
        <h5>Books</h5>
        <h5>EBooks</h5>
        <h5>New Release</h5>
        <h5>Blog</h5>
      </div>
      <div class="main-footer" >
        <h1 style="color: #ed553b;">LATEST NEWS</h1>
        <div class="footer1 d-flex ">
         
          <img src="../../../../assets/footer.png" alt="" />
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum
            voluptatem deleniti sequi vel molestiae magni dolores architecto,
          </p>
        </div>
        <div class="footer1 d-flex ">
          <img src="../../../../assets/footer.png" alt="" />
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum
            voluptatem deleniti sequi vel molestiae magni dolores architecto,
          </p>
        </div>
      </div>
    </div>
    © 2020 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->