<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Author</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="editAuthor">
      <div class="modal-body">
          <div class="form-group">

            <input type="text" class="form-control" placeholder="FirstName" formControlName="fName"
            [class.is-invalid]="EfirstName?.invalid"
            [class.is-valid]="EfirstName?.valid"
            >
          </div>

          <div class="form-group">

            <input type="text" class="form-control" placeholder="LastName"
             formControlName="lName"
            [class.is-invalid]="ElastName?.invalid"
            [class.is-valid]="ElastName?.valid"
            >
          </div>

          <div class="form-group">

            <input type="date" class="form-control" placeholder="DB" formControlName="dateBirth"
            [class.is-invalid]="EdateBirth?.invalid"
            [class.is-valid]="EdateBirth?.valid"
            >
          </div>



          <div class="form-group">
            <!--<input type="file" class="file-input" formControlName="image" name="image"
             (change)="uploadImage($event)"
             [class.is-invalid]="Eimage?.invalid"
             [class.is-valid]="Eimage?.valid"
             >-->
             <img src="http://localhost:5000/{{author?.photo}}" alt="" style="width:15%;">

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn" style="background: #18AF9A">Save</button>
      </div>
      </form>
    </div>

  </div>
</div>
