.mat-toolbar{
  background-color: cornflowerblue;
  color: white;
}
.mat-button{
   color: white;
}
.spacer{
  flex: 1 1 auto;
}
.nav-item{
  margin: 0 10% 0 10% ;

}
.navbar-nav{
  margin-left: 4%;
}
.vl {
  border-left: 1px solid #E1D5D3;
  height: 5vh;
  margin: 0 2vw 0 2vw;
}

 .navbar-brand img{
  width: 4vw;
  height: 3vh;
  margin-left: 100%;
} 
/*
.navBar{
  background-color: #3C3484;
}
.navBar a{
  color: #E1D5D3;
  font-weight: 500;
}
.navItames{
  margin-left:7vw ;
} */